body {
    background-color: #121212;
    color: #ffffff;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#app {
    width: 80%;
    max-width: 800px;
    text-align: center;
}

.hidden {
    display: none;
}

#setup-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#player-inputs {
    display: flex;
    gap: 10px;
}

input,
button {
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button {
    cursor: pointer;
    background-color: #1e88e5;
    color: white;
}

#game-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#player-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}
